header{
	background:url(../img/banner.jpg) fixed  no-repeat;
    background-position: center center;
}
.fix:after{
	content:'';
	display:block;
	height:0;
	overflow:hidden;
	clear:both;
}
.fix{*zoom:1;}
nav{
	background: #ccc;
	height: 50px;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	z-index:3;
}
nav ul{
	margin:0;
	list-style:none;
}
nav ul li{
	display:inline-block;
	line-height:50px;
	float:right;
	margin-left:20px;
	
}
nav ul li img{
	height:30px;
	width:30px;
	vertical-align:middle;
	margin-right:10px;

}
nav ul li a{
	display:inlin-block;
	text-decoration:none;
	cursor:pointer;
	line-height:inherit;
	height:inherit;
	padding:0 30px 0 0;
}
nav ul .logo{
    float:left;
    font-size:20px;
    letter-spacing: 2px;
}
.banner{
	height:550px;
	width:100%;
	color:#fff;
    background:rgba(0,0,0,.3);
}
.banner .inner{
	width:300px;
	height:300px;
	text-align: center;
	margin:auto;
	padding-top:100px;
}
.banner .inner h1{
    width:150px;
	margin:20px auto;
    padding:10px;
    border-top:4px solid #fff;
    border-bottom:4px solid #fff;

}
.banner .inner h4{
    margin:40px 0;
}
.banner .inner button{
    width:100px;
    height:40px;
    background:red;
    border:0;
    color:#fff;
    font-family: "Microsoft YaHei";
    margin:0 80px;
}
.banner .inner p{
	margin-top:100px;
	font-size:14px;
}
.banner .inner img{
	width:18px;
	margin-top:8px;
}
.content{
    }
.content .a{
	width:100%;
	height:auto;
	color:#fff;
	background: #2fc2a6;
	padding:20px 0;
	text-align:center;
}

.content .a h3{
	width:60%;
    margin:0 auto;
    padding:10px 0;
    border-bottom: 2px solid #1faa90;
    line-height:32px;
}
.content .a p{
	width:50%;
	margin:10px auto;
	
}
.content .a .b{
	margin:30px 0;
}
.content .a .b .box{
	display:inline-block;
    height:50px;
    width:50px;
    margin:0 20px;
    border: 2px solid #1faa90;
    transform:rotate(45deg) ;
}
.content .a .b .box img{
	height:40px;
    width:40px;
    transform:rotate(-45deg);
    margin:6px 0px 0 0px;
}
@media screen and (min-width: 990px){
	.content .a2{
		width:100%;
		background:#262a35;
		color:#fff;
	}
	.content .a2 .p1{
		height:300px;
		width:100%;
	}
	.content .a2 img{
		width:450px;
		height:300px;
		float:left;
	}
	.content .a2 .p1 h2{
		margin:0 100px 10px 550px;
		padding:50px 0 10px 0;
		line-height:40px;
	}

	.content .a2 .p1 p{
		margin:0 100px 0 550px;
		color:#fff;
	}
	.content .a2:nth-child(3){
		height:300px;
		width:100%;
		background:#353944;
	}
	.content .a2:nth-child(3) .p1 img{
		height:300px;
		width:450px;
		float:right;
	}
	.content .a2:nth-child(3) .p1 h2{
		margin:0 550px 10px 100px;
		padding:60px 0 10px 0;
		color:#fff;
		line-height:40px;
		
	}

	.content .a2:nth-child(3) .p1 p{
		margin:0 550px 10px 100px;
		
		
	}
}	
@media screen and (max-width: 990px){
	.content .a2{
	width:100%;
	background:#262a35;
	color:#fff;
	}
	.content .a2 .p1{
	width:100%;
	height:auto;
	text-align: center;
	}
	.content .a2 img{
		width:100%;
		height:auto;
		padding-bottom: 20px;
	}
	.content .a2 .p1 h2{
		margin:0 auto;
		text-align:center;
		line-height:40px;
	}

	.content .a2 .p1 p{
	width:80%;
	margin:0 auto;
	padding:10px 0 40px 0;
	color:#fff;
	}
}

.content .a5{
	
	width:100%;
	background:#4f3a7d;
	padding-bottom:40px;
	text-align:center;
}
.content .a5 .inner{
	width:80%;
	margin:0 auto;
	color:#fff;
}
.content .a5 .inner h2{
	width:60%;
	margin:0 auto;
	padding:30px;
	border-bottom:2px solid #3f2b69;
}
.content .a5 .inner p{
	padding:20px;
}


@media screen and (min-width:990px) {
	.content .a5 .page{
	width:76%;
	height:auto;
	margin:0 auto;

	}
	
	.content .a5 .page .card{
		width:50%;
		height:auto;
		float:left;
		color:#fff;
	} 
	.content .a5 .page .card img{
	width:32px;
	float:left;
	margin:30px 10px 30px 20px;
	}
	.content .a5 .page .card h4{
		text-align:left;
		margin:0;
	    padding:34px 12px 10px 84px;
	    font-size:20px;
	}
	.content .a5 .page .card p{
		text-align:left;
	    padding:0 50px 30px 84px;
	    
	}
	.card:first-child{
	background: rgba(0,0,0,0.04);
	}
	.card:nth-child(2){
		background: rgba(0,0,0,0.08);
	}
	.card:nth-child(3){
		background: rgba(0,0,0,0.08);
	}
	.card:nth-child(4){
		background: rgba(0,0,0,0.04);
	}

}

@media screen and (min-width: 736px),(max-width:990px) {
	.content .a5 .page{
	width:76%;
	height:auto;
	margin:0 auto;

	}
	
	.content .a5 .page .card{
		width:50%;
		height:auto;
		float:left;
		color:#fff;
	} 
	.content .a5 .page .card img{
		width:32px;
		padding:26px;
	}
	.content .a5 .page .card h4{
		width:60%;
		margin:0 auto;
	    font-size:20px;
	}
	.content .a5 .page .card p{
		width:80%;
		margin:0 auto;
		padding:10px 0 30px 0;
	    
	}
	.card:first-child{
	background: rgba(0,0,0,0.04);
	}
	.card:nth-child(2){
		background: rgba(0,0,0,0.08);
	}
	.card:nth-child(3){
		background: rgba(0,0,0,0.08);
	}
	.card:nth-child(4){
		background: rgba(0,0,0,0.04);
	}
}
@media screen and (max-width: 736px){
	.content .a5 .page{
	width:100%;
	height:auto;
	margin:0 auto;
	color:#fff;
	}
	.content .a5 .page .card{
		width:100%;
		height:auto;
		
	} 
	.content .a5 .page .card img{
		width:32px;
		padding:26px;
	}
	.content .a5 .page .card h4{
		width:60%;
		margin:0 auto;
	    font-size:20px;
	}
	.content .a5 .page .card p{
		width:80%;
		margin:0 auto;
		padding:10px 0 30px 0;
	    
	}
	.card:nth-child(odd){
	background: rgba(0,0,0,0.04);
	}
	.card:nth-child(even){
		background: rgba(0,0,0,0.02);
	}
	
}
footer{
	background:#333;
	color:#fff;
	text-align:center;
	min-height:200px;
	background:url(../img/banner.jpg) fixed  no-repeat;
    background-position: center 1%;
}
footer .bot{
	width:100%;
	background: rgba(0,0,0,.3)
}
footer .bot .inner{
	width:70%;
	margin:0 auto;
	text-align:left;
	padding:20px;
}

footer .bot .inner h2{
	margin:0;
	padding:20px;
	

}
footer .bot .inner p{
	width:40%;
	margin:0;
	padding:20px;
	
	
}

footer .bot .inner .btn1{
	width:160px;
	height:40px;
	background:red;
	margin:-120px 40px 0 0;
	padding:0;
	border:0;
    color:#fff;
    font-family: "Microsoft YaHei";
    float:right;
}
footer .bot .inner .btn2{
	width:160px;
	height:40px;
	margin:-70px 40px 0 0;
	padding:0;
	color:#fff;
	background-color:transparent;
	border:4px solid #fff;
    float:right;
}
footer .inner .copy{
	text-align:center;
	margin:0 auto;
	padding:40px;

}
.mask{
	display:none;
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background:rgba(0,0,0,0.4);
}
#sidebar{
	position:fixed;
	top:0;
	right:-300px;
	bottom:0;
	width:300px;
	background:#333;
	padding:20px 0;
	transition:right 0.5s;
	
}
#sidebar ul{
	list-style-type:none;
	margin:0;
	padding:0;
}

#sidebar ul a{
	display:inline-block;
	text-decoration:none;
	padding:10px 30px;
	color:#fff;
	width:100%;
}
#sidebar ul a:hover{
	background:#444;
	width:100%;
}
.to-top{

	width:90px;
	height:30px;
	margin:0;
	padding:4px;
	font-size:14px;
	position:fixed;
	bottom:30px;
	right:50px;
	border:0;
	background:#ccc;
	box-shadow:1px 1px 0 rgba(0,0,0,.25);
}
box{
	
}